<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="estilos_generales.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/estilos_generales.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar-ctm">
      <div class="title">Unidad Educativa Marianas de Jesus</div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 barra-lateral">
          <nav class="nav flex-column">
            <div style="display: flex; justify-content: center; width: 100%">
              <img
                class="image-ctm"
                src="{{ url_for('static', filename='img/icono_marianas.png') }}"
                alt="logobrand"
                style="width: 150px"
              />
            </div>
            <hr />
            <a href="/login">Login</a>
            <hr />
            <a href="/register">Register</a>
            <hr />
            <a href="/">Pre-registro </a>
            <hr />
          </nav>
        </div>
        <div class="col-10">
          <!-- Contenido -->
          <div class="container h-100 my-3">
            <div class="row h-100 justify-content-center align-items-center">
              <form
                id="myForm"
                class="form-matriculas"
                action="http://127.0.0.1:5000/get-estudent"
                method="post"
              >
                <h3 class="text-center">
                  Aplicación de Pre-registro de Matrículas
                </h3>
                <div class="aling-items-form">
                  <div class="form-group item-form" style="width: 400px">
                    <h5>Ingrese la cédula del estudiante</h5>
                    <input
                      name="cedula"
                      type="text"
                      class="form-control my-3"
                      placeholder="Cédula"
                      required
                    />
                  </div>
                </div>
                <div class="boton">
                  <button
                    type="submit"
                    class="btn btn-block my-3 px-3"
                    style="background-color: #009ffd; color: white"
                  >
                    Siguiente
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Fin Contenido -->
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
